.reviews {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    flex-grow: 1;
    outline-style: ridge;
    margin: 1%;
    list-style-type: none;
    width: 25%;
}