nav {
    padding: 1em;
    background-color: rgb(161, 161, 161);
    overflow: hidden;
}

.menu {
    display: none;
    height: 80px;
    background-color: rgb(161, 161, 161);
    overflow: hidden;
}

.siteName {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: stretch;
    padding: 1%;
    flex-grow: 1;
}

.siteName p {
    font-size: xx-large;
}

.menuList {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-grow: 1;
}

.menuList p {
    font-size: x-large;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;
    height: 40px;
    padding: 1%;
}

.icons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: stretch;
    flex-grow: 1;
    padding: 1%;
}

.icons img {
    height: 40px;
    width: 40px;
}

.navNarrow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.navNarrow img {
    display: flex;    
    cursor: pointer;
    height: 50px;
    width: 50px;
}

.narrowLinks {
    display: none;
}

.narrowLinks a {
    display: flex;
    padding: 0.5em 0;
    color: black;
}

/* Adjust breakpoint as desired to select when the "hamburger" menu is
replaced by just the links. */
@media (min-width: 899px) {    
        .menu {
            display: flex;
        }

        .navNarrow {
            display: none;
        }
}

