.menu {
    display: flex;
    height: 80px;
    background-color: rgb(161, 161, 161);
}

.siteName {
    display: flex;
    flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
    align-content: stretch;
    padding: 1%;
    flex-grow: 1;
}

.menuList {
    display: flex;
    flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
    align-content: stretch;
	flex-grow: 1;
}

.menuList h2 {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
    align-content: stretch;
    height: 40px;
    padding: 1%;
}

.icons {
    display: flex;
    flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
    align-content: stretch;
    flex-grow: 1;
    padding: 1%;
}

.icons img {
    height: 40px;
    width: 40px;
}


