.main2 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    height: auto;
    width: 70%;
    margin-top: 1%;
}

.news2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    flex-grow: 2;
    outline-style: ridge;
    padding: 2% 1%;
    list-style-type: none;
    text-align: center;
    margin: 1%;
    background-color: #d6d6d6;
}

.news2 img {
    height: 200px;
    width: 400px;
    margin-bottom: 2%;
}

.news2 li {
    padding: 2% 0;
}

.titles2 {
    margin: 10px 0;
}

.description2 {
    width: 500px;
    height: auto;
    text-align: left;
}