.boxes {
    display: flex;
    flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
    align-items: center;
    height: 400px;
}

.boxes img {
    height: 275px;
    width: 275px;
    outline-style: solid;
    outline-color: black;
    opacity: .7;
}

.container p {
    position: absolute;
    left: 5%;
    top: 60%;
    width: 100%;
    text-align: center;
    font-size: 4em;
    color: black;
    font-weight: bold;
    letter-spacing: 1px;
    -webkit-text-stroke: 3px #FFF;
}

.container {
    display: flex;
    justify-content: center;
    position: relative;
}

@import url(https://fonts.googleapis.com/css?family=Cantarell:400,700italic);

.container:hover {
  color: black;
  /* font-family: 'Cantarell', sans-serif; */
  font-size: 1em;
  font-weight: bold;
  /* font-style: italic; */
  /* text-transform: uppercase; */
  letter-spacing: 1px;
  -webkit-text-stroke: 3px #FFF;
  -webkit-animation: dope 5s ease-in-out infinite;
}

@-webkit-keyframes dope {
  
  15% {
    margin-left: 0;
    text-shadow: none;
  }
  
  45%, 55% {
    margin-left: 0;
    -webkit-text-stroke: 3px #000;
    text-shadow:
    -1px -1px #111,
    -4px -4px #222,
    -8px -8px #333,
    -12px -12px #444,
    -16px -16px #555,
    -20px -20px #666,
    -24px -24px #777,
    -28px -28px #888,
    -32px -32px #999,
    -36px -36px #AAA,
    -40px -40px #BBB,
    -44px -44px #CCC,
    -48px -48px #DDD,
    -52px -52px #EEE,
    -56px -56px #FFF;
  }
}