nav {
    /* padding: 1em; */
    background-color: rgb(180, 180, 180);
    overflow: hidden;
    margin-bottom: 20px;
    width: 100%;
}

nav p {
    /* border: 1px solid rgb(139, 139, 139); */
    padding: 20px 10px 10px 10px;
    background-color: rgb(180, 180, 180);
    color: black;
}

nav p:hover {
    color: white;
    background-color: rgb(139, 139, 139);
}

nav a:hover {
    text-decoration: none;
}

.menu {
    display: flex;
    height: 50px;
    background-color: rgb(180, 180, 180);
    overflow: hidden;
}

.siteName {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    padding: 1%;
    flex-grow: 1;
}

.siteName img {
    height: 50px;
    width: 210px;
}

.menuList {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-grow: 1;
    color: #000000;
    padding-top: 10px;
}

.menuList p {
    font-size: x-large;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    height: 40px;
    padding: 5px 10px;
}

.icons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    flex-grow: 1;
    padding: 1%;
}

.icons img {
    height: 50px;
    width: 60px;
    padding: 5px 10px;
}

.navNarrow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.navNarrow img {
    display: flex;    
    cursor: pointer;
    height: 50px;
    width: 50px;
}

.narrowLinks {
    display: none;
}

.narrowLinks a {
    display: flex;
    padding: 0.5em 0;
    color: black;
}

/* Adjust breakpoint as desired to select when the "hamburger" menu is
replaced by just the links. */
@media (min-width: 899px) {    
        .menu {
            display: flex;
        }

        .navNarrow {
            display: none;
        }
}

input[type=vex] {
    overflow: hidden;
    height: 40px;
    width: 130px;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('https://w3schools.com/howto/searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=vex]:focus {
    width: 100%;
}
